@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
}

body{
    background: #2E073F;
}

header nav{
    width: 100%;
    padding: 40px;
    background: #7A1CAC;
    transition: all ease-in-out 0.5s;
    display: flex;
    position: fixed;
    z-index: 1;
}

ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    transition: all ease-in-out 0.5s;  
}

a{
    text-decoration: none;
}

ul li a:hover{
    color: #7A1CAC;
}

main {
    min-height: 100vh;
    height: auto;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.section-home{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.section-home.show{
    opacity: 1;
    transform: translateY(0);
}

.article-home-message,
.article-home-img{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.article-home-img {
    justify-content: center;
    align-items: center;
}

.article-home-img img{
    border-radius: 50%;
    width: 500px;
    cursor: pointer;
    box-shadow: 10px 10px 50px 10px black;
    transition: all ease-in-out 0.3s;
}

.article-home-img img:hover{
    filter: grayscale(100%);
}

#greetingHome{
    font-size: 80px;
}

#myLettersAnimated{
    font-size: 100px;
    color: #EBD3F8;
}

.div-home-btns{
    width: 100%;
    display: flex;
    gap: 20px;
}

.link-linkedin,
.link-github,
.link-facebook,
.link-instagram{
    padding: 15px;
    color: #fff;
    border-radius: 20px;
}

.link-github{
    background: #8E24AA;
    transition: all ease-in-out 0.5s;
}

.link-github:hover{
    background: #531366;
}

.link-linkedin{
    background: #0e76a8;
    transition: all ease-in-out 0.5s;
}

.link-linkedin:hover{
    background: #094d6d;
}

.section-about{
    height: auto;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    opacity: 0;
    transform: translateX(40px);
    transition: opacity ease-in 0.5s, transform ease-in 0.5s;
}

.section-about.show{
    opacity: 1;
    transform: translateX(0);
}

.section-about h1,
.section-skills h1,
.section-projects h1,
.section-contact h1 {
    font-size: 80px;
    color: white;
    text-align: center;
}

.article-cards{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
}

.div-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #7A1CAC;
    border-radius: 10px;
    box-shadow: 0 10px 40px 0 black;
    cursor: pointer;
    transition: transform ease-in-out 0.5s;
}

.div-card:hover,
.div-project:hover{
    transform: scale(1.03);
}

.div-card-header{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.div-card-header img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 40px black;
}

.div-card-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.div-card-body h1{
    font-size: 40px;
    color: #EBD3F8;
}

.div-card-body p{
    color: #fff;
    text-align: justify;
    padding-top: 30px;
}

.separator{
    width: 50px;
    height: 10px;
    background: #fff;
    border-radius: 25pc;
}

.section-skills{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity ease-in 0.5s, transform ease-in 0.5s;
}

.section-skills.show{
    opacity: 1;
    transform: translateY(0);
}

.div-skills-menu {
    width: 100%;
    display: flex;
    gap: 30px;
    font-size: 25px;
    color: white;
}

.div-skills-menu h2{
    cursor: pointer;
}

.article-skills-bars{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    gap: 10px;
}

.div-skills{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.div-skills-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-skills-header p{
    padding-top: 15px;
}

.div-skills-bar {
    width: 100%;
    height: 15px;
    border-radius: 50px;
    background: #7A1CAC; 
    position: relative;
}

.show-skills{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#barPHP::after{
    content: '';
    width: 90%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8; 
    position: absolute;
}

#barJava::after{
    content: '';
    width: 80%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8; 
    position: absolute;
}

#barJS::after{
    content: '';
    width: 85%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8; 
    position: absolute;
}

#barGolang::after{
    content: '';
    width: 60%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8; 
    position: absolute;
}

#barC::after{
    content: '';
    width: 70%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8; 
    position: absolute;
}

#barSQL::after{
    content: '';
    width: 90%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8; 
    position: absolute;
}

#barKotlin::after{
    content: '';
    width: 65%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8;
    position: absolute;
}

#barLaravel::after{
    content: '';
    width: 80%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8;
    position: absolute;
}

#barReact::after{
    content: '';
    width: 90%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8;
    position: absolute;
}

#barNext::after{
    content: '';
    width: 90%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8;
    position: absolute;
}

#barSB::after{
    content: '';
    width: 80%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8;
    position: absolute;
}

#barESP::after{
    content: '';
    width: 60%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8;
    position: absolute;
}

#barExpress::after{
    content: '';
    width: 80%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8;
    position: absolute;
}

#barNest::after{
    content: '';
    width: 80%;
    height: 100%;
    border-radius: 50px;
    background: #EBD3F8;
    position: absolute;
}

.section-projects{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transform: translateX(40px);
    transition: opacity ease-in 0.5s, transform ease-in 0.5s;
}

.section-projects.show{
    opacity: 1;
    transform: translateX(0);
}

#carrouselProjects{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-project{
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 40px 0 black;
    background: #7A1CAC;
    border-radius: 20px;
    cursor: pointer;
}

.div-project-header{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.div-project-header img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px black;
}

.div-project-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: white;
    text-align: justify;
}

.div-project-body h1{
    font-size: 25px;
    color: white;
}

.div-project-footer{
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.div-project-footer a {
    padding: 10px;
    background: #2E073F;
    border-radius: 10px;
    color: white;
    transition: all ease-in-out 0.5s;
}

.div-project-footer a:hover{
    background: #AD49E1;
}

#navItemProjects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.itemProject{
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #7A1CAC;
    border-radius: 25px;
    transition: all ease-in-out 0.2s;
}

.itemProject:hover{
    background: #AD49E1;
}

.section-contact{
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #0d0211;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 10px black;
}

.div-contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.article-contact-form,
.article-contact-profile {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.article-contact-form{
    height: 100%;
    padding: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.article-contact-form h1{
    font-size: 20px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    padding: 15px;
    border-radius: 10px;
    border: none;
}

textarea {
    resize: none;
}

form button {
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    background: #8E24AA;
    transition: all ease-in-out 0.2s;
    border: none;
    color: white;
    font-size: 20px;
}

form button:hover{
    background: #AD49E1;
}

.article-contact-profile {
    color: #fff;
    gap: 20px;
}

.article-contact-profile h1{
    font-size: 35px;
}

.div-contact-profile-btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link-facebook{
    background: #1877F2;
}

.link-instagram{
    background: #c50f09;
}

.hamburguer-menu,
.mobile-menu{
    display: none;
}

@media (max-width: 1440px){
    #greetingHome{
        font-size: 50px;
    }

    #myLettersAnimated{
        font-size: 55px;
    }
}

@media (max-width: 1024px){
    .article-home-img img{
        width: 350px;
    } 

    .article-cards{
        display: flex;
        flex-direction: column;
    }

    .div-card-header {
        height: 500px;
    }

    .div-card-header img {
        height: 500px;
    }

    #carrouselProjects{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .div-contact-profile-btns{
        flex-wrap: wrap;
    }
}

@media (max-width: 768px){
    .section-home{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .article-home-message{
        width: 100%;
        display: flex;
    }

    .div-home-btns{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        gap: 20px;
    }

    header nav ul li a {
        font-size: 15px;
    }

    .div-contact{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .article-contact-form{
        width: 100%;
    }

    #skillsLenguages,
    #skillsFrameworks{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #title1,
    #title2,
    #title3,
    #title4{
        font-size: 45px;
    }
}

@media (max-width: 630px){
    .div-card-header{
        height: 400px;
    }

    .div-card-header img{
        height: 400px;
    }
}

@media (max-width: 540px){
    #greetingHome{
        font-size: 22px;
    }

    #myLettersAnimated{
        font-size: 45px;
    }

    #showLenguages,
    #showFrameworks{
        font-size: 20px;
    }
}

@media (max-width: 425px){
    .div-project{
        width: 100%;        
    }

    header{
        display: flex;
        flex-direction: column;
    }

    .main-menu{
        display: none;
    }

    .hamburguer-menu {
        display: flex;
    }

    .mobile-menu {
        display: none;
        margin-top: 100px;
        padding: 10px;
        gap: 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        background: #AD49E1;
        position: fixed;
        z-index: 1;
        transition: all ease-in-out 0.5s;
    }

    #skillsLenguages,
    #skillsFrameworks{
        display: grid;
        grid-template-columns: 1fr;
    }

    .mobile-menu li{
        border-bottom: 1px solid white;
        padding: 10px;
    }
    
    .mobile-menu a {
        color: white;
     }

    .article-home-message{
        justify-content: end;
        align-items: center;
        padding-bottom: 40px;
    }

    #myLettersAnimated{
        font-size: 35px;
    }

    .section-contact{
        padding: 5px;
    }

    .div-home-btns a {
        padding: 10px 10px;
        font-size: 15px;
    }

    .article-home-img{
        justify-content: start;
        align-items: start;
    }
    .article-home-img img{
        width: 250px;
    }
    .div-card-header{
        height: 300px;
    }

    .div-card-header img{
        height: 300px;
    }

    .div-project-header{
        height: 300px;
    }

    .div-project-header img{
        height: 300px;
    }
}
